@charset "utf-8";
/* CSS Document */

body{
    font-family:"Arial";
    font-size:16px;
    line-height:1.5;
}

.container{
    max-width: 960px;
    margin:0 auto;
}

.marijn-slider{
    height: 600px;
}

h1{
    font-size: 34px;
    margin: 20px 0 40px 0;
}

h2{
    font-size: 26px;
}

.first-slide{
    background: url("http://cdn01.androidauthority.net/wp-content/uploads/2015/11/00-best-backgrounds-and-wallpaper-apps-for-android.jpg");
    width: 100%;
    height: 100%;
}

code{
    margin: 10px 5%;
    width: 90%;
    float: left;
    background: #d7d7d7;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}